@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
  --foreground: #dddddd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.label-seed {
  @apply pl-3;
}
.input-seed {
  @apply bg-gray-100 font-bold text-right text-green-600 rounded w-[79px] pr-1 mx-1;
}
.label-rolls {
  @apply pl-3;
}
.input-rolls {
  @apply bg-gray-100 font-bold text-right text-gray-600 rounded w-[50px] pr-1 mx-1;
}
.button-update {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold px-1 mx-1 my-1 rounded;
}
.button-blue {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold px-1 mr-1 my-1 rounded;
}

.rolltable-header {
  @apply text-zinc-400 text-left whitespace-nowrap border border-x-0 border-t-0 border-slate-500;
}
.rolltable-header-seed {
  @apply text-gray-600 min-w-[80px] text-right font-normal pl-3;
}
.rolltable-row-A {
  @apply flex-row align-top font-bold;
}
.rolltable-row-B {
  @apply flex-row align-top text-gray-500;
}
.rolltable-cellid-A, .tile-chunkId-A {
  @apply text-rose-500 min-w-[38px] text-right font-bold pl-2;
}
.rolltable-cellid-B, .tile-chunkId-B {
  @apply text-green-600 text-right font-bold pl-2;
}
.rolltable-cell-unitname {
  @apply text-left pl-1 pr-2 whitespace-nowrap;
}
.rolltable-cell-numeric {
  @apply text-right pl-2;
}

.rolltable-switch-AtoB {
  @apply text-red-700 font-bold;
}
.rolltable-switch-BtoA {
  @apply text-green-700 font-bold;
}
.rolltable-guaranteed-A {
  @apply text-pink-500 font-bold;
} 
.rolltable-guaranteed-B {
  @apply text-cyan-600 font-bold;
}

.aodama-A {
  @apply text-cyan-500;
}
.aodama-B {
  @apply text-cyan-700;
}

.rarity-0A {
}
.rarity-0B {
}
.rarity-1A {
}
.rarity-1B {
}
.rarity-2A {
  @apply text-yellow-500;
}
.rarity-2B {
  @apply text-yellow-800;
}
.rarity-3A {
  @apply text-pink-500 border-pink-500 border border-x-0;
}
.rarity-3B {
  @apply text-pink-800 border-pink-800 border border-x-0;
}
.rarity-3A.platinum-ticket-A, .rarity-3A.legendary-ticket-A {
  @apply text-gray-300 border-0;
}
.rarity-3B.platinum-ticket-B, .rarity-3B.legendary-ticket-B {
  @apply text-gray-500 border-0;
}
.rarity-3A.platinum-ticket-A.mistic-A, .rarity-3A.legendary-ticket-A.mistic-A {
  @apply text-cyan-500 border-0;
}
.rarity-3B.platinum-ticket-B.mistic-B, .rarity-3B.legendary-ticket-B.mistic-B {
  @apply text-cyan-700 border-0;
}
.rarity-3A.platinum-ticket-A.limited-A, .rarity-3A.legendary-ticket-A.limited-A {
  @apply text-yellow-400 border-0;
}
.rarity-3B.platinum-ticket-B.limited-B, .rarity-3B.legendary-ticket-B.limited-B {
  @apply text-yellow-700 border-0;
}
.rarity-3A.platinum-ticket-A.pickup-A, .rarity-3A.legendary-ticket-A.pickup-A {
  @apply text-rose-500 border-0;
}
.rarity-3B.platinum-ticket-B.pickup-B, .rarity-3B.legendary-ticket-B.pickup-B {
  @apply text-rose-800 border-0;
}
.rarity-4A {
  @apply text-fuchsia-400 border-fuchsia-400 border-y-2;
}
.rarity-4B {
  @apply text-purple-600 font-bold border-purple-600 border border-x-0;
}

.tile-rarity-0A, .tile-rarity-1A, .tile-rarity-2A {
  @apply text-gray-500 m-0 px-0 leading-[0.5];
}
.tile-rarity-0B, .tile-rarity-1B, .tile-rarity-2B {
  @apply text-gray-700 m-0 px-0 leading-[0.5];
}
.tile-rarity-3A {
  @apply text-rose-500 m-0 px-0 leading-[0.5];
}
.tile-rarity-3B {
  @apply text-rose-800 m-0 px-0 leading-[0.5];
}
.tile-rarity-4A {
  @apply text-fuchsia-400 m-0 px-0 leading-[0.5];
}
.tile-rarity-4B {
  @apply text-purple-600 m-0 px-0 leading-[0.5];
}